<div id="license-pagination">
	<table id="license_table">
			<thead>
				<tr>
					<th>Name</th>
					<th class="column">Serial Number</th>
					<th>E-Mail</th>
					<th>Account Name</th>
					<th>Title</th>
					<th>Product Category</th>
					<th>Country</th>
					<th>Created</th>
				</tr>
			</thead>
	
			<tbody>	
				<% @licenses.each do |lic|%>
				<tr>
					<td><%= lic[0] %></td>
					<td class="column"><%= lic[1] %></td>
					<td><%= lic[2] %></td>
					<td><%= lic[3] %></td>
					<td><%= lic[4] %></td>
					<td><%= lic[5] %></td>
					<td><%= lic[6] %></td>
					<td><%= lic[7] %></td>
				</tr>
				<% end %>
			<tbody>
	</table>
<div>