<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Serial Number</Data></Cell>
        <Cell><Data ss:Type="String">E-Mail</Data></Cell>
        <Cell><Data ss:Type="String">Account Name</Data></Cell>
		<Cell><Data ss:Type="String">License</Data></Cell>
        <Cell><Data ss:Type="String">Product Category</Data></Cell>
        <Cell><Data ss:Type="String">Version</Data></Cell>
        <Cell><Data ss:Type="String">PID</Data></Cell>
		<Cell><Data ss:Type="String">Country</Data></Cell>
        <Cell><Data ss:Type="String">Registered</Data></Cell>
      </Row>
    <% @export.each do |lic| %>
      <Row>
        <Cell><Data ss:Type="String"><%= lic[0] %></Data></Cell>
		<Cell><Data ss:Type="String"><%= lic[1] %></Data></Cell>
		<Cell><Data ss:Type="String"><%= lic[2] %></Data></Cell>
		<Cell><Data ss:Type="String"><%= lic[3] %></Data></Cell>
		<Cell><Data ss:Type="String"><%= lic[4] %></Data></Cell>
		<Cell><Data ss:Type="String"><%= lic[5] %></Data></Cell>
		<Cell><Data ss:Type="String"><%= lic[6] %></Data></Cell>
		<Cell><Data ss:Type="String"><%= lic[7] %></Data></Cell>
		<Cell><Data ss:Type="String"><%= lic[8] %></Data></Cell>
		<Cell><Data ss:Type="String"><%= lic[9] %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>