<table border="1">

                <tr>
                     <th>Name</th>
                     <th>Serial Number</th>
                     <th>E-Mail</th>
                     <th>Account Name</th>
                     <th>License</th>
                     <th>Product Category</th>
                     <th>Version</th>
                     <th>PID</th>
                     <th>Country</th>
                     <th>Created</th>    
                </tr>


  
                <% @licenses.each do |lic|%>
					<tr>
                    	 <td><%= lic[0] %></td>
                         <td class="column"><%= lic[1] %></td>
                         <td><%= lic[2] %></td>
                         <td><%= lic[3] %></td>
                         <td><%= lic[4] %></td>
                         <td><%= lic[5] %></td>
                         <td><%= lic[6] %></td>
                         <td><%= lic[7] %></td>
                         <td><%= lic[8] %></td>
                         <td><%= lic[9] %></td>
                	</tr>
                <% end %>

 </table>