<!DOCTYPE html>
<html>
<head>
  <title>Sanctuary Report</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<header>
		<div>
			<%= form_tag(:controller => 'licenses', :action => 'show', :remote => true) do %>
				<div>
					<%= label_tag :start_date, "Start Date" %>
					<%= text_field_tag :start_date %>
				</div>
				<div>
					<%= label_tag :end_date, "End Date" %>
					<%= text_field_tag :end_date, Time.now.strftime('%m/%d/%Y') %>
				</div>
				<div>
					<%= label_tag :account_name, "Company: " %>
					<%= text_field_tag :account_name %>
				</div>
				<div>
					<%= submit_tag("Search", {:id => 'start_search'})%>
				</div>
			<%end%>
		</div>
	</header>

	<%= yield %>

</body>
</html>


